<launch>
	<!-- Play a recorded bag and run Point-LIO mapping offline. -->

	<arg name="bag" />
	<arg name="lidar_model" default="l2" />
	<arg name="rviz" default="true" />
	<arg name="rate" default="1.0" />
	<arg name="clock" default="true" />

	<param name="/use_sim_time" value="$(arg clock)" />

	<node pkg="rosbag" type="play" name="play_unilidar_bag" output="screen"
		args="--clock -r $(arg rate) $(arg bag)" />

	<node if="$(eval lidar_model == 'l1')" pkg="point_lio_unilidar" type="pointlio_mapping" name="laserMapping" output="screen">
		<rosparam command="load" file="$(find point_lio_unilidar)/config/unilidar_l1.yaml" />
		<param name="use_imu_as_input" type="bool" value="0" />
		<param name="prop_at_freq_of_imu" type="bool" value="1" />
		<param name="check_satu" type="bool" value="1" />
		<param name="init_map_size" type="int" value="10" />
		<param name="point_filter_num" type="int" value="1" />
		<param name="space_down_sample" type="bool" value="1" />
		<param name="filter_size_surf" type="double" value="0.1" />
		<param name="filter_size_map" type="double" value="0.1" />
		<param name="cube_side_length" type="double" value="1000" />
		<param name="runtime_pos_log_enable" type="bool" value="0" />
	</node>

	<node if="$(eval lidar_model == 'l2')" pkg="point_lio_unilidar" type="pointlio_mapping" name="laserMapping" output="screen">
		<rosparam command="load" file="$(find point_lio_unilidar)/config/unilidar_l2.yaml" />
		<param name="use_imu_as_input" type="bool" value="0" />
		<param name="prop_at_freq_of_imu" type="bool" value="1" />
		<param name="check_satu" type="bool" value="1" />
		<param name="init_map_size" type="int" value="10" />
		<param name="point_filter_num" type="int" value="1" />
		<param name="space_down_sample" type="bool" value="1" />
		<param name="filter_size_surf" type="double" value="0.4" />
		<param name="filter_size_map" type="double" value="0.4" />
		<param name="cube_side_length" type="double" value="1000" />
		<param name="runtime_pos_log_enable" type="bool" value="0" />
	</node>

	<group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
			args="-d $(find point_lio_unilidar)/rviz_cfg/loam_livox.rviz" />
	</group>
</launch>
